<?xml version="1.0"?>

<config>
    <modules>
        <Wf_CustomerBalance>
            <version>1.3.2.1</version>
        </Wf_CustomerBalance>
    </modules>
    <global>
        <resources>
            <wf_customerbalance_setup>
                <setup>
                    <module>Wf_CustomerBalance</module>
                    <class>Wf_CustomerBalance_Model_Resource_Setup</class>
                </setup>
            </wf_customerbalance_setup>
        </resources>
        <models>
            <wf_customerbalance>
                <class>Wf_CustomerBalance_Model</class>
                <resourceModel>wf_customerbalance_resource</resourceModel>
            </wf_customerbalance>
            <wf_customerbalance_resource>
                <class>Wf_CustomerBalance_Model_Resource</class>
                <deprecatedNode>wf_customerbalance_mysql4</deprecatedNode>
                <entities>
                    <balance>
                        <table>wf_customerbalance</table>
                    </balance>
                    <balance_history>
                        <table>wf_customerbalance_history</table>
                    </balance_history>
                </entities>
            </wf_customerbalance_resource>
            <wf_customerbalance_mysql4>
                <class>Wf_CustomerBalance_Model_Mysql4</class>
                <entities>
                    <voucher>
                        <table>wf_customerbalance_voucher</table>
                    </voucher>
                </entities>
            </wf_customerbalance_mysql4>
        </models>
        <blocks>
            <wf_customerbalance>
                <class>Wf_CustomerBalance_Block</class>
            </wf_customerbalance>
        </blocks>
        <helpers>
            <wf_customerbalance>
                <class>Wf_CustomerBalance_Helper</class>
            </wf_customerbalance>
        </helpers>
        <template>
            <email>
                <customer_wf_customerbalance_email_template translate="label" module="wf_customerbalance">
                    <label>Store Credit Update</label>
                    <file>wf/customerbalance_update.html</file>
                    <type>html</type>
                </customer_wf_customerbalance_email_template>
            </email>
        </template>
        <sales>
            <quote>
                <totals>
                    <customerbalance>
                        <class>wf_customerbalance/total_quote_customerbalance</class>
                        <after>weee,discount,tax,tax_subtotal,grand_total</after>
                        <renderer>wf_customerbalance/checkout_total</renderer>
                    </customerbalance>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <customerbalance>
                        <class>wf_customerbalance/total_invoice_customerbalance</class>
                        <after>weee,discount,tax,grand_total</after>
                    </customerbalance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <customerbalance>
                        <class>wf_customerbalance/total_creditmemo_customerbalance</class>
                        <after>weee,discount,tax,grand_total</after>
                    </customerbalance>
                </totals>
            </order_creditmemo>
            <old_fields_map>
                <order_creditmemo>
                    <base_customer_balance_total_refunded>bs_customer_bal_total_refunded</base_customer_balance_total_refunded>
                    <customer_balance_total_refunded>customer_bal_total_refunded</customer_balance_total_refunded>
                </order_creditmemo>
                <order>
                    <base_customer_balance_total_refunded>bs_customer_bal_total_refunded</base_customer_balance_total_refunded>
                    <customer_balance_total_refunded>customer_bal_total_refunded</customer_balance_total_refunded>
                </order>
                <quote>
                    <base_customer_balance_amount_used>base_customer_bal_amount_used</base_customer_balance_amount_used>
                </quote>
            </old_fields_map>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <base_customer_balance_amount>
                    <to_order>*</to_order>
                </base_customer_balance_amount>
                <customer_balance_amount>
                    <to_order>*</to_order>
                </customer_balance_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>customerSaveAfter</method>
                    </wf_customerbalance>
                </observers>
            </adminhtml_customer_save_after>

            <sales_quote_payment_import_data_before>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>paymentDataImport</method>
                    </wf_customerbalance>
                </observers>
            </sales_quote_payment_import_data_before>

            <sales_model_service_quote_submit_before>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>processOrderPlace</method>
                    </wf_customerbalance>
                </observers>
            </sales_model_service_quote_submit_before>

            <sales_model_service_quote_submit_failure>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>revertStoreCredit</method>
                    </wf_customerbalance>
                </observers>
            </sales_model_service_quote_submit_failure>

            <order_cancel_after>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>revertStoreCredit</method>
                    </wf_customerbalance>
                </observers>
            </order_cancel_after>

            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>processOrderPlace</method>
                    </wf_customerbalance>
                </observers>
            </checkout_type_multishipping_create_orders_single>

            <checkout_multishipping_refund_all>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>revertStoreCreditForAllOrders</method>
                    </wf_customerbalance>
                </observers>
            </checkout_multishipping_refund_all>

            <core_layout_update_updates_get_after>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>disableLayout</method>
                    </wf_customerbalance>
                </observers>
            </core_layout_update_updates_get_after>

            <adminhtml_sales_order_create_process_data>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>processOrderCreationData</method>
                    </wf_customerbalance>
                </observers>
            </adminhtml_sales_order_create_process_data>

            <payment_method_is_active>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>togglePaymentMethods</method>
                    </wf_customerbalance>
                </observers>
            </payment_method_is_active>

            <sales_quote_collect_totals_before>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>quoteCollectTotalsBefore</method>
                    </wf_customerbalance>
                </observers>
            </sales_quote_collect_totals_before>

            <sales_quote_merge_after>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>quoteMergeAfter</method>
                    </wf_customerbalance>
                </observers>
            </sales_quote_merge_after>

            <sales_order_invoice_save_after>
                <observers>
                    <wf_customerbalance_sales_order_invoice_save_after>
                        <class>wf_customerbalance/observer</class>
                        <method>increaseOrderInvoicedAmount</method>
                    </wf_customerbalance_sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>

            <sales_order_creditmemo_save_after>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </wf_customerbalance>
                </observers>
            </sales_order_creditmemo_save_after>

            <adminhtml_sales_order_creditmemo_register_before>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>creditmemoDataImport</method>
                    </wf_customerbalance>
                </observers>
            </adminhtml_sales_order_creditmemo_register_before>

            <sales_order_load_after>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>salesOrderLoadAfter</method>
                    </wf_customerbalance>
                </observers>
            </sales_order_load_after>

            <sales_order_place_after>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </wf_customerbalance>
                </observers>
            </sales_order_place_after>

            <sales_order_creditmemo_refund>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>refund</method>
                    </wf_customerbalance>
                </observers>
            </sales_order_creditmemo_refund>

            <website_delete_before>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>setCustomersBalanceCurrencyToWebsiteBaseCurrency</method>
                    </wf_customerbalance>
                </observers>
            </website_delete_before>

            <paypal_prepare_line_items>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>addPaypalCustomerBalanceItem</method>
                    </wf_customerbalance>
                </observers>
            </paypal_prepare_line_items>


            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <wf_customerbalance_notify_customer_balance>
                        <class>wf_customerbalance/checkout_cart_observer</class>
                        <method>cartPredispatch</method>
                    </wf_customerbalance_notify_customer_balance>
                </observers>
            </controller_action_predispatch_checkout_cart_index>

            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <check_designs_after_config_save>
                        <class>wf_customerbalance/system_config_observer</class>
                        <method>checkConfigDesigns</method>
                    </check_designs_after_config_save>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <controller_action_postdispatch_adminhtml_system_design_save>
                <observers>
                    <check_designs_after_design_save>
                        <class>wf_customerbalance/system_config_observer</class>
                        <method>checkDesigns</method>
                    </check_designs_after_design_save>
                </observers>
            </controller_action_postdispatch_adminhtml_system_design_save>

        </events>
        <pdf>
            <totals>
                <wf_customerbalance translate="title">
                    <title>Store Credit</title>
                    <source_field>customer_balance_amount</source_field>
                    <amount_prefix>-</amount_prefix>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>560</sort_order>
                </wf_customerbalance>
                <wf_customerbalance_total_refunded translate="title">
                    <title>Refunded to Store Credit</title>
                    <source_field>customer_bal_total_refunded</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>700</sort_order>
                </wf_customerbalance_total_refunded>
            </totals>
        </pdf>


    <!-- BEGIN Auto-integration Components BEGIN -->
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <wf_customerbalance_block_output_after>
                        <type>singleton</type>
                        <class>wf_customerbalance/block_observer</class>
                        <method>afterOutput</method>
                    </wf_customerbalance_block_output_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    <!-- END Auto-integration Components END -->

    </global>
    <frontend>
        <translate>
            <modules>
                <Wf_CustomerBalance>
                    <files>
                        <default>Wf_CustomerBalance.csv</default>
                    </files>
                </Wf_CustomerBalance>
            </modules>
        </translate>
        <layout>
            <updates>
                <wf_customerbalance module="Wf_CustomerBalance">
                    <file>customerbalance.xml</file>
                </wf_customerbalance>
            </updates>
        </layout>
        <routers>
            <wf_customerbalance>
                <use>standard</use>
                <args>
                    <module>Wf_CustomerBalance</module>
                    <frontName>storecredit</frontName>
                </args>
            </wf_customerbalance>
        </routers>
        <secure_url>
            <storecredit_info>/storecredit/info/</storecredit_info>
        </secure_url>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customerbalance before="Mage_Adminhtml">Wf_CustomerBalance_Adminhtml</customerbalance>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <wf_customerbalance>
                    <file>wf/customerbalance.xml</file>
                </wf_customerbalance>
            </updates>
        </layout>
        <events>
            <adminhtml_customer_prepare_save>
                <observers>
                    <wf_customerbalance>
                        <class>wf_customerbalance/observer</class>
                        <method>prepareCustomerBalanceSave</method>
                    </wf_customerbalance>
                </observers>
            </adminhtml_customer_prepare_save>
            
            <controller_action_layout_generate_blocks_before>
                <observers>
                    <wf_customerbalance_add_block>
                        <class>wf_customerbalance/observer</class>
                        <method>addBlock</method>
                    </wf_customerbalance_add_block>
                </observers>
            </controller_action_layout_generate_blocks_before>
        </events>
        <translate>
            <modules>
                <Wf_CustomerBalance>
                    <files>
                        <default>Wf_CustomerBalance.csv</default>
                    </files>
                </Wf_CustomerBalance>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <customer>
            <wf_customerbalance>
                <is_enabled>1</is_enabled>
                <show_history>1</show_history>
                <shared_balance>0</shared_balance>
                <email_template>customer_wf_customerbalance_email_template</email_template>
                <email_identity>general</email_identity>
                <expire_remaining_credit_after_order>0</expire_remaining_credit_after_order>
                <license></license>
            </wf_customerbalance>
        </customer>
        <sales>
            <totals_sort>
                <customerbalance>95</customerbalance>
            </totals_sort>
        </sales>
    </default>
</config>
